# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# Database
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store

# Local environment
.env